@import "tailwindcss";

@layer utilities {
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-14px);
    }
  }

  .animate-float {
    animation: float 7s ease-in-out infinite;
  }

  .animate-pulse-slow {
    animation: pulse 4.8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
